body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to left, #B6FBFF, #83A4D4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Footer Source: https://css-tricks.com/couple-takes-sticky-footer/#there-is-calc-reduced-height-wrappers; */

html, body {
  height: 100%;
  margin: 0;
}

.content-body {
    min-height: calc(100vh - 269px);
}


