@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to left, #B6FBFF, #83A4D4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Vertically centerning all items of `homepage`
   Source: https://stackoverflow.com/a/22196760/9481106 */
.homepage {
    min-height: 100%;  /*may be this line is redundant*/
    min-height: 100vh;

    display: flex;
    align-items: center;
}


/* Sticking footer in bottom
   Source: https://css-tricks.com/couple-takes-sticky-footer/#there-is-calc-reduced-height-wrappers; */
.content-body {
    min-height: calc(100vh - 269px);
}